<div class="layout-overlay layout-menu-toggle"></div>
</div>

<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="py-3 mb-4">
            <span class="text-muted fw-light">Menu dashboard
        </h4>

        <button onclick=" document.getElementById('map').classList.toggle('active')" style="margin-top: 12px;"
            class="btn btn-warning">View maps</button>
        <button onclick="window.location.href='/cb/viewDistrict'" style="margin-top: 12px;"
            class="btn btn-primary">Ward/district management</button>
        <button onclick="window.location.href='/ads/view'" style="margin-top: 12px;" class="btn btn-primary">
            Ads management</button>
        <button onclick="window.location.href='/place/view'" style="margin-top: 12px;" class="btn btn-primary">
            Place ads management</button>
        <button onclick="window.location.href='/report/view'" style="margin-top: 12px;"
            class="btn btn-info">Report</button>

        <button onclick="window.location.href='/change/viewAds'" style="margin-top: 12px;" class="btn btn-primary">
            Granting edit ads</button>

        <button onclick="window.location.href='/change/viewPlace'" style="margin-top: 12px;" class="btn btn-primary">
            Granting edit place</button>
        <button onclick="window.location.href='/licensing/view'" style="margin-top: 12px;" class="btn btn-success">
            Licensing</button>
        {{#if (eq "admin" role)}}
            <button onclick="window.location.href='/auth/create-account-district'" style="margin-top: 12px;"
                class="btn btn-primary">
                Create account district</button>
            <button onclick="window.location.href='/auth/create-account-ward'" style="margin-top: 12px;"
                class="btn btn-primary">
                Create account ward</button>
        {{/if}}

        <div id="map" style="margin-top: 12px;"></div>
    </div>

    <script>

        $(document).ready(async function () {
            var map = L.map("map")
            navigator.geolocation.getCurrentPosition(function (position) {
                var lat = position.coords.latitude;
                var lon = position.coords.longitude;
                map.setView([lat, lon], 13);
            });

            L.tileLayer(
                "https://{s}.tile.thunderforest.com/atlas/{z}/{x}/{y}.png?apikey=a1cb0032c1264a8d9a88251c4866a2c3",
                {
                    attribution: "&copy; OpenStreetMap contributors, &copy; Thunderforest",
                    apikey: "a1cb0032c1264a8d9a88251c4866a2c3",
                }
            ).addTo(map);

        });

    </script>