<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">

        <!-- Basic Layout -->
        <div class="row">
            <div class="col-xl">
                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">Form create account district</h5>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="/auth/create-account">
                            <div class="form-floating form-floating-outline mb-4">
                                <input type="email" class="form-control" id="basic-default-fullname"
                                    placeholder="admin@gmail.com" name="email" />
                                <label for="basic-default-fullname">Email</label>
                            </div>
                            <div class="form-floating form-floating-outline mb-4">
                                <input type="text" class="form-control" id="basic-default-fullname" placeholder="admin"
                                    name="name" />
                                <label for="basic-default-fullname">Name</label>
                            </div>
                            <div class="form-floating form-floating-outline mb-4">
                                <input type="password" class="form-control" id="basic-default-company"
                                    placeholder="*********" name="password" />
                                <label for="basic-default-company">Password</label>
                            </div>
                            <div class="form-floating form-floating-outline mb-4">
                                <select class="form-select" id="exampleFormControlSelect1"
                                    aria-label="Default select example" name="option">
                                    {{#each district}}
                                    <option value="{{this._id}}">{{this.name}}</option>
                                    {{/each}}
                                </select>
                                <label for="exampleFormControlSelect1">Open this select
                                    district</label>
                            </div>
                            <input type="text" style="display: none;" name="role" value="district">
                            <button type="submit" class="btn btn-primary">
                                Create
                            </button>
                            <button onclick="window.history.back()" type="submit" class="btn btn-secondary">
                                Back
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Merged -->
        </div>
    </div>